<nav class="navbar">
<div onclick="home()" class="logo">Hexagon</div>
<ul class="nav-links">
 <input type="checkbox" id="checkbox_toggle" />
 <label for="checkbox_toggle" class="hamburger">&#9776;</label>
 <div class="menu">
   <li><a href="/">Home</a></li>
   <!-- <li><p style="cursor:not-allowed">About</p></li> -->
   <li><p class="init">Documentation</p></li>
   <li><a target="_blank" href="https://discord.gg/qRkRjAgTKf">Support</a></li>
 </div>
</ul>
</nav>
<div class="textarea">
<h1 style="color:#ababab;" class="hexagon">Introducing</h1>
<h1 class="hexagon hex">Hexagon</h1>
<p class="desc">A Discord bot focused on providing simple and reliable server management.</p>
<button onclick="bot()" class="get">Get started</button>
</div>