<div class="toast">
  <div class="toast-content">
      <div class="message">

          <span class="text text-2">This page is currently unavailable.</span>
      </div>
  </div>
  <i class="fa-solid fa-xmark close"></i>

  <div class="progress"></div>
</div>
<nav class="navbar">
<!-- LOGO -->
<div onclick="home()" class="logo">Hexagon</div>
<!-- NAVIGATION MENU -->
<ul class="nav-links">
 <!-- USING CHECKBOX HACK -->
 <input type="checkbox" id="checkbox_toggle" />
 <label for="checkbox_toggle" class="hamburger">&#9776;</label>
 <!-- NAVIGATION MENUS -->
 <div class="menu">
   <li><a href="/">Home</a></li>
   <!-- <li><p style="cursor:not-allowed">About</p></li> -->
   <li><p class="init">Documentation</p></li>
   <li><a target="_blank" href="https://discord.gg/qRkRjAgTKf">Support</a></li>
 </div>
</ul>
</nav>
<div class="textarea">
<h1 style="color:#ababab;" class="hexagon">Introducing</h1>
<h1 class="hexagon hex">Hexagon</h1>
<p class="desc">A Discord bot focused on providing simple and reliable server management.</p>
<button onclick="bot()" class="get">Get started</button>
</div>